<main>
  <div>
    <nav>
      <div class="nav-wrapper">
        <a href="/" class="brand-logo">Web</a>
        <ul id="nav-mobile" class="right hide-on-med-and-down">
          <li><%= link("Переводчик", to: "/") %></li>
        </ul>
      </div>
    </nav>
  </div>
  <div>
    <.flash_group flash={@flash} />
    <%= @inner_content %>
  </div>
</main>
